@page "/product/5"
@inherits LaborationBlazorKepsWebShop.Pages.Checkout

<h1 style="text-align: center">G.O.A.T. The Goat Trucker Animal Farm Black - Goorin Bros</h1>

<div id="cap-grid" class="mt-5 row justify-content-center">
    <div class="col-md-3 text-center">
        <img src="images/Keps5Bild1.jpg" class="img-fluid" width="400" height="400" />
    </div>
    <div class="col-md-3 text-center">
        <img src="images/Keps5Bild2.jpg" class="img-fluid" width="400" height="400" />
    </div>
    <div class="col-md-3 text-center">
        <img src="images/Keps5Bild3.jpg" class="img-fluid" width="400" height="400" />
    </div>
    <div class="col-md-3 text-center">
        <img src="images/Keps5Bild4.jpg" class="img-fluid" width="400" height="400" />
    </div>
</div>

<b style="font-size: 2rem">549 KR</b>

<div>
    <select class="form-select" style="width: 200px;" disabled>
        <option selected>One Size</option>
    </select>
</div>

<p>In stock: ✅</p>


<button class="btn btn-success btn-lg" @onclick="() => AddToCart(5)">Add to Cart</button>

<p>🗸 1-2 business days delivery time <br /> 🗸 Free shipping <br /> 🗸 60 days return policy</p>
